@model Worker.Web.ViewModel.Employee.EmployeeViewModel

@{
    ViewBag.Title = "Редактирование сотрудника";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm())
{
    @Html.EditorForModel("EmployeeEditor")
}
